{
	default_sni 217.112.43.150
}

217.112.43.150 {
	tls {
		issuer acme {
			dir https://acme-v02.api.letsencrypt.org/directory
			profile shortlived
			disable_tlsalpn_challenge
		}
	}

	encode zstd gzip

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	@public_assets path /favicon.svg /file.svg /globe.svg /window.svg /documents/* /fonts/* /media/*
	handle @public_assets {
		root * /srv/public
		file_server
	}

	handle {
		reverse_proxy app:3000
	}

	log {
		output stdout
		format json
	}
}
